*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body{
    background: #1d1d1df1 !important;
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    font-family: 'Varela Round', sans-serif;
    color: #6fb1aa;
    position: fixed;
    font-size: 26px;
    z-index: 999;
    border-bottom: 5px solid;
    border-color: #6fb1aa;
}

div.header-barber{
    display: flex;
    height: 50px;
    padding: 0 0 0 3em;
    background: #fff;
}

div.header-barber b{
    align-items: center;
    display: flex;
}

div.component-header{
    position: relative;
    top: 60px;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 2em;
    font-family: 'Varela Round', sans-serif;
}

div.component-info{
}

/* information on website Index*/

div.info{
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 1rem;
    text-align: center;
    padding: 3em 0 1em 0;
}

div.info div.title-website{
    margin-bottom: 1.4em;
}
div.info div.title-website h1{
    font-size: 1.6em;
    color: #fff;
    text-align: center;
}
div.info div.title-website p{
    color: #8e7dea;
    font-size: 1em;
    text-align: center;
}


/*Component Main*/
main{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    padding: 2em;
}

main div.grid-menu{
    width: 620px;
    background: #fff;
    margin: 2em 0;
    padding: 0 0 1em 0;
    box-shadow: 2px 3px 8px #63636359;
}

main div.grid-menu div.component-form{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 4em 0 0 0;
    font-family: 'Roboto', sans-serif;
}

main div.grid-menu div.component-form form{
    position: relative;
    text-align: center;
}
main div.grid-menu div.component-form form label{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column; 
    z-index: 1;
    left: 50px;
    top: 5px;
    padding: 0 5px;
    background: #fff;
    transition: all 1.2s;
}

.form-submit{
    width: 250px;
    height: 42px;
    background: #6fb1aa;
    border: 1px solid #6fb1aa;
    border-radius: 8px;
    color: #fff;
    margin: 2em 0 0 0;
}

.in-cmp{
    margin: 1em;
    padding: 0.8em;
    border: 3px solid #cccccc96;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}
.warning{
    text-align: center;
    border: 1px solid #ff000094;
    background: #ff000094;
    color: #fff;
    border-radius: 1px 7px;
}
.option{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.option-group:hover{
    background: #8e7dea;
}
.option-pais{
    margin: 0;
    padding: 0;
}
.option-pais select{
    position: absolute;
    width: 20px;
    height: 20px !important;
    top: 17px;
    left: -7px;
    border-radius: 4px;
}
.sup{
    position: relative;
    display: flex;
    justify-content: center;
}
.sup-input{
    padding: 0 5px;
}
.style-select{
    width: 185px;
    border: 2px solid #8e7dea;
    font-family: 'Roboto', sans-serif;
}
.alert-success{
  color:#155724;
  background-color:#d4edda;
  border-color:#c3e6cb;
}

.alert{
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius:10px; 
}

.alert-danger{
  color:#721c24 !important;
  background-color:#f8d7da !important;
  border-color:#f5c6cb !important;
}

div.back-to-index{
  position: absolute;
  top: 20%;
  width: 50px;
  left: 22px;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.back-to-index a{
  width:100%;
  text-align: center;
  text-decoration:none; 
  color:#fff;
  z-index:999999;
  transition: .2s all;
}
div.back-to-index a:hover{
    background:#ffffff1c;
    border: 1px
    transparent;border-radius: 13px;
    color:#6fb1aa;
}

.label-for-email{
  color:#fff;
}
